<h1>プロフィール</h1>
<h1><%= @user.name %>のページ</h1>
<p class = "after-login">メールアドレス: <%= @user.email %></p>
<div class = "profile">
<p>プロフィール画像</p>
<%=image_tag @user.image.url %>
<p><%= link_to 'プロフィールを編集する', edit_user_path(@user) %></p> 
</div>


