*{
  margin: 0;
  padding: 0;
}
body {
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}
header{
  text-align: center;
  background-color: #2C7CFF;
  color:white;
}
.header-logo{
  background-color: #2C7CFF;
  font-size: 18px;
}
h1{
  text-align: center;
  padding-top: 50px;
}
.login,.signup{
  height:370px;
  text-align: center;
  line-height:60px;
  margin-top: 50px;
  margin-bottom: 120px;
}
.after-login{
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 305px;
}
.new-posting{
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 100px;
  line-height:60px;
}
.posting-check{
  text-align: center;
  font-size: 22px;
  margin-top: 70px;
  margin-bottom: 100px;
  line-height:60px;
}
.table{
  padding-left: 300px;
  padding-top: 20px;
}
.dateil-top,.dateil-bottom{
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 108px;
  line-height:100px;
}
.editing{
  text-align: center;
  font-size: 30px;
  margin-top: 14px;
  margin-bottom: 20px;
  line-height:50px;
}
.btn-center{
  text-align: center;
}
footer{
  text-align: center;
  background-color: #2C7CFF;
  color:white;
  padding-bottom: 20px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: black;
  }

  &:hover {
    color: #fff;
    background-color:#75A9FF;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
